.blue-background{
    background-color: #CED8F6;
}

.green-background{
    background-color: #CEF6E3;
}

.yellow-background{
    background-color: #F5F6CE;
}

.gray-background{
    background-color: #F2F2F2;
}

.pink-background{
    background-color: #F6CEE3;
}

.red-background{
    background-color: red;
}


