application/migrations/*
sphinx_edit/static/sphinx_static/*
trash/*
instance/*
!instance/instance_config_default.py
!instance/README.md

log/*
!log/README.md

application/static/vendor/*
!application/static/vendor/bower.json
application/static/bundles/*.css
application/static/bundles/*.js

repos/*
!repos/README.md

config.py
manage.py

# virtualenv
vir/*

conf/conf.py

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/

# Translations
*.mo
*.pot

# Flask stuff:
.webassets-cache

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# dotenv
.env



