{% macro render_field(field, old=None) %}
  <dt>{{ field.label }}
    <dd>
      {% if old %}
        {{ field(value=old, **kwargs)|safe }}
      {% else %}
        {{ field(**kwargs)|safe }}
      {% endif %}
      {% if field.errors %}
        <div class="uk-alert-danger" uk-alert>
          {% for error in field.errors %}
            <a class="uk-alert-close" uk-close></a>
            <p>{{ error }}</p>
            {% endfor %}
        </div>
      {% endif %}
    </dd>
  </dt>
{% endmacro %}
