{% macro menu_items(pack) %}
  {% for t in pack %}
    {% if t.sub_menu %}
      <li>
        <a href="#">
          {{ t.name }}
          <span uk-icon="icon: triangle-down"></span>
        </a>
        <div class="uk-navbar-dropdown">
          <ul class="uk-nav uk-navbar-dropdown-nav">
            {% for s in t.sub_menu %}
              <li>
                <a href="{{ s.url }}"
                  {%- if s.external %} target="_blank" {% endif -%}>
                  {{ s.name }}
                </a>
              </li>
            {% endfor %}
          </ul>
        </div>
      </li>
    {% else %}
      {%- if t.style == 'attention' %}
        <div class="uk-navbar-item">
          <a class="uk-button uk-button-danger" href="{{ t.url }}">
            {{ t.name }}
          </a>
        </div>
      {% else %}
        <li>
          <a href="{{ t.url }}"
             {%- if t.external -%} target="_blank" {%- endif -%}>
            {{ t.name }}
          </a>
        </li>
      {% endif %}
    {% endif %}
  {% endfor %}
{% endmacro %}

{% macro navigation_bar() %}
  <!-- Navigation bar -->
  <nav class="uk-navbar-container" uk-navbar="mode: click">
    <div class="uk-navbar-left uk-padding uk-padding-remove-top
                uk-padding-remove-bottom">
      <ul class="uk-navbar-nav">
        {{ menu_items(menu.left) }}
        {% if threads %}
          <li>
            <a href="#discussion">
              {{ _('discussion') }}
              {# &nbsp;
              <span class="uk-badge">{{ threads.count() }}</span> #}
            </a>
          </li>
        {% endif %}
      </ul>
    </div>
    <div class="uk-navbar-right uk-padding uk-padding-remove-top
                uk-padding-remove-bottom">
      <ul class="uk-navbar-nav">
        {{ menu_items(menu.right) }}
      </ul>
    </div>
  </nav>
{% endmacro %}

{% macro head() %}
  <head>
    <!-- Title -->
    <title>{% block title %}{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% assets "css_all" %}
        <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
    {% endassets %}

    {# MathJax has to be separated, since it call font files #}
    <script type="text/javascript"
            src="{{- url_for('static',
                 filename='vendor/bower_components/MathJax/MathJax.js') -}}
                 ?config=TeX-AMS-MML_HTMLorMML">
    </script>

    {% assets "js_all" %}
      <script type="text/javascript" src="{{ ASSET_URL }}"
              charset="utf-8"></script>
    {% endassets %}

    {% block scripts %}{% endblock %}

  </head>

{% endmacro %}

{% macro flash_messages() %}
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for category, message in messages %}
            {% if category == 'info' %}
<script>
  $(document).ready(function(){
      UIkit.notification('{{ message }}', {status: 'success', pos: 'bottom-center'});
  });
</script>
            {% elif category == 'error' %}
<script>
  $(document).ready(function(){
      UIkit.notification('{{ message }}', {status: 'danger', pos: 'bottom-center'});
  });
</script>
            {% else %}
<script>
  $(document).ready(function(){
      UIkit.notification('{{ message }}', {status: 'primary', pos: 'bottom-center'});
  });
</script>
            {% endif %}
          {% endfor %}
        {% endif %}
      {% endwith %}

{% endmacro %}

<!doctype html>

{% block document %}

{{ head() }}

{#<html xmlns="http://www.w3.org/1999/xhtml">#}
  <body>

    {{ navigation_bar() }}

    <div class="main-container uk-container uk-container-center
                uk-margin-top uk-margin-bottom">
      <!-- Flash messages -->
      {{ flash_messages() }}

      {% if not self.sidebar() %}
        <!-- Without sidebar -->
        <div class="uk-grid" data-uk-grid-margin>
          <div id="content-container" class="uk-width-1-1">
            <p class="uk-text-large">{% block sub_title %}{% endblock %}</p>
            {{ contents() }}
          </div>
        </div>
      {% endif %}

      {% if self.sidebar() %}
        <!-- With sidebar -->
        <div class="uk-text-center" uk-grid>
          <div class="uk-width-1-3@m">
            <div class="uk-card uk-card-default uk-card-body">
              {% block sidebar %}{% endblock %}
            </div>
          </div>
          <div class="uk-width-expand@m">
            {{ contents() }}
          </div>
        </div>
      {% endif %}

      {% if threads_by_tag %}
      <!-- Insert threads in tags -->
      {% for t in threads_by_tag %}
        <div id="discussion_from-{{ t['name'] }}"
             class="uk-tile uk-tile-muted uk-padding-remove
                    uk-width-1-3 uk-flex">
          <div class="uk-margin-left"
               title="{{ '\n'.join(t['titles']) }}">
               Discussions
               <span class="uk-badge">{{ len(t['titles']) }}</span>
          </div>
          <div>
            <a class="uk-button uk-button-default uk-button-small
                      uk-margin-left"
               href="{{ url_for('threads.query_thread',
                                project=project.name,
                                file_tags='["' + t['name'] + '"]') }}"
               target="_blank">view
            </a>
            <a class="uk-button uk-button-default uk-button-small"
               {% if named_tags %}
               href="{{ url_for('threads.newthread',
                        project=project.name,
                        file_tags=t['name'],
                        custom_tags=named_tags) }}"
               {% else %}
               href="{{ url_for('threads.newthread',
                        project=project.name,
                        file_tags=t['name']) }}"
               {% endif %}
               target="_blank">new
            </a>
          </div>
        </div>
        {% endfor %}
        <script>
          $(document).ready(function() {
          {% for t in threads_by_tag %}
            if ($("span#{{ t['name'] }}").length) {
            $("#discussion_from-{{ t['name'] }}").insertAfter($("#{{ t['name'] }}").next("a, h1, h2, h3, h4, h5"));
            } else {
            $("#discussion_from-{{ t['name'] }}").insertAfter($("#{{ t['name'] }}"));
            }
          {% endfor %}
          });
        </script>
      {% endif %}

      <!-- Scroll Up -->
      <a href="" class="uk-align-right" uk-scroll>
        <span uk-icon="icon: chevron-up; ratio: 2"></span>
      </a>
    </div>

    <!-- Footer -->
    <nav class="uk-navbar-container" uk-navbar="mode: click">
      <div class="uk-navbar-right uk-padding uk-padding-remove-top
                  uk-padding-remove-bottom">
        <ul class="uk-navbar-nav">
          <li class="uk-active">
            <div class="tm-middle uk-container uk-container-center
                        uk-text-center">
              <ul class="uk-subnav uk-subnav-line uk-flex-center">
                <div class="uk-navbar-item">
                  &copy; {{ copyright }}.
                  {{ _('Created using') }} Sphinx 1.2.3.
                </div>
                </ul>
            </div>
          </li>
        </ul>
      </div>
    </nav>

  </body>
{#</html>#}

{% endblock document %}
