{% macro menu_items(pack) %}
  {% for t in pack %}
    {% if t.sub_menu %}
      <li>
        <a href="#">
          {{ t.name }}
          <span uk-icon="icon: triangle-down"></span>
        </a>
        <div class="uk-navbar-dropdown">
          <ul class="uk-nav uk-navbar-dropdown-nav">
            {% for s in t.sub_menu %}
              <li><a href="{{ s.url }}">{{ s.name }}</a></li>
            {% endfor %}
          </ul>
        </div>
      </li>
    {% else %}
      {%- if t.style == 'attention' %}
        <div class="uk-navbar-item">
          <a class="uk-button uk-button-danger" href="{{ t.url }}">
            {{ t.name }}
          </a>
        </div>
      {% else %}
        <li><a href="{{ t.url }}">{{ t.name }}</a></li>
      {% endif %}
    {% endif %}
  {% endfor %}
{% endmacro %}


<!doctype html>

<html xmlns="http://www.w3.org/1999/xhtml">

  <head>
    <!-- Title -->
    <title>{% block title %}{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.25/css/uikit.min.css"/>
    <!-- jQuery is required -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- UIkit JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.25/js/uikit.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.25/js/uikit-icons.min.js"></script>
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <!-- MathJax -->
    <script type="text/javascript"
            src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
    <!-- Hash identicon -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jdenticon/1.4.0/jdenticon.min.js"></script>
    {% block scripts %}{% endblock %}
  </head>

  <body>
    <!-- Navigation bar -->
    <nav class="uk-navbar-container" uk-navbar="mode: click">
      <div class="uk-navbar-left uk-padding uk-padding-remove-top
                  uk-padding-remove-bottom">
        <ul class="uk-navbar-nav">
          <li class="uk-active"><a href="/">Home</a></li>
          {{ menu_items(menu.left) }}
          {% if threads %}
            <li>
              <a href="#discussion">
                {{ _('discussion') }}
                &nbsp
                <span class="uk-badge">{{ threads.count() }}</span>
              </a>
            </li>
          {% endif %}
        </ul>
      </div>
      <div class="uk-navbar-right uk-padding uk-padding-remove-top
                  uk-padding-remove-bottom">
        <ul class="uk-navbar-nav">
          {{ menu_items(menu.right) }}
        </ul>
      </div>
    </nav>

    <div class="main-container uk-container uk-container-center
                uk-margin-top uk-margin-bottom">
      <!-- Flash messages -->
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for category, message in messages %}
            {% if category == 'info' %}
              <div class="uk-alert-success" uk-alert>
                <a class="uk-alert-close" uk-close></a>
                <p>{{ message }}</p>
              </div>
            {% elif category == 'error' %}
              <div class="uk-alert-danger" uk-alert>
                <a class="uk-alert-close" uk-close></a>
                <p>{{ message}}</p>
              </div>
            {% else %}
              <div class="uk-alert-primary" uk-alert>
                <a class="uk-alert-close" uk-close></a>
                <p>{{ message}}</p>
              </div>
            {% endif %}
          {% endfor %}
        {% endif %}
      {% endwith %}

      <!-- Without sidebar -->
      {% if not self.sidebar() %}
        <div class="uk-grid" data-uk-grid-margin>
          <div class="uk-width-1-1">
            <p class="uk-text-large">{% block sub_title %}{% endblock %}</p>
            {{ contents() }}
          </div>
        </div>
      {% endif %}

      <!-- With sidebar -->
      {% if self.sidebar() %}
        <div class="uk-text-center" uk-grid>
          <div class="uk-width-1-3@m">
            <div class="uk-card uk-card-default uk-card-body">
              {% block sidebar %}{% endblock %}
            </div>
          </div>
          <div class="uk-width-expand@m">
            {{ contents() }}
          </div>
        </div>
      {% endif %}

      <!-- Threads -->
      {% if threads %}
        <!-- Scroll Up -->
        <a href="" class="uk-align-right" uk-scroll>
          <span uk-icon="icon: chevron-up; ratio: 2"></span>
        </a>
        <hr class="uk-divider-icon">
        <a name="discussion"></a>
        <div class="uk-container uk-container-center">
          {% for t in threads %}
            <article class="uk-article">
              <header class="uk-comment-header uk-position-relative
                             uk-background-muted">
                <hr>
                <div class="uk-grid-small uk-flex-middle
                            uk-margin-left" uk-grid>
                  <div class="uk-width-auto">
                    <canvas width="40" height="40"
                            data-jdenticon-hash="{{ hash(t.author.username) }}"
                            style="vertical-align: baseline;">
                    </canvas>
                  </div>
                  <div class="uk-width-expand">
                    <p style="margin: 0 0 0 0;">
                      {{ t.author.username }} ({{ t.flag }}) -
                      {{ t.posted_at }} - ({{ t.comments.count() }}
                      {{ _('comments') }}):
                    </p>
                    <h4 style="margin-top: 0;"> {{ t.title }} </h4>
                  </div>
                  <div class="uk-position-top-right uk-position-small">
                    {% if ((current_user == t.author
                           or current_user.username == project.owner)) %}
                      <a href="{{ url_for('threads.editthread',
                               project=t.project.name, thread_id=t.id,
                               return_url=url_encode(request.base_url)) }}"
                               class="uk-link-muted">
                               Edit
                      </a>
                      {% if t.comments.count() == 0 %}
                        <a href="{{ url_for('threads.deletethread',
                                 project=t.project.name, thread_id=t.id,
                                 return_url=url_encode(request.base_url)) }}"
                                 onclick="return confirm('Are you sure?')"
                                 class="uk-link-muted">
                                 Delete
                        </a>
                      {% endif %}
                    {% endif %}
                  </div>
                </div>
                <div class="uk-grid-small uk-flex-middle
                            uk-margin-left" uk-grid>
                  <div class="uk-width-auto">
                    {% if t.user_tags %}
                      {{ _('Users:') }}
                      {% for tag in t.user_tags %}
                        &nbsp
                        <span class="uk-label">{{ tag.username }}</span>
                      {% endfor %} &emsp;
                    {% endif %}
                    {% if t.file_tags %}
                      {{ _('Files:') }}
                      {% for file in t.file_tags %}
                        &nbsp
                        <span class="uk-label">{{ file.filename }}</span>
                      {% endfor %} &emsp;
                    {% endif %}
                    {% if t.custom_tags %}
                      {{ _('Tags:') }}
                      {% for custom in t.custom_tags %}
                        &nbsp
                        <span class="uk-label">{{ custom.name }}</span>
                      {% endfor %} &emsp;
                    {% endif %}
                    {% if t.free_tags.count() %}
                      {{ _('Others:') }}
                      {% for free in t.free_tags.all() %}
                        &nbsp
                        <span class="uk-label">{{ free.name }}</span>
                      {% endfor %}
                    {% endif %}
                  </div>
                </div>
                <hr>
              </header>

              <ul class="uk-comment-list">
                {% for c in t.get_comments(100) %}
                  <li class="uk-margin-remove">
                  <article class="uk-comment" style="margin-left:
                                                     {{ c.get_indent() }}px;">
                    <header class="uk-comment-header uk-position-relative">
                      <div class="uk-grid-medium uk-flex-middle" uk-grid>
                        <div class="uk-width-auto">
                          <canvas width="30" height="30"
                                  data-jdenticon-hash="{{ hash(c.author.username) }}">
                          </canvas>
                        </div>
                        <div class="uk-width-expand">
                          <a class="uk-link-reset" href="#">{{ c.author.username }}</a>
                          &nbsp
                          <span class="uk-comment-meta
                                       uk-margin-remove-top uk-text-small">
                            {{ c.posted_at }} -
                            ({{ c.likes.count() }} {{ _('likes') }})
                          </span>
                        </div>
                      </div>
                      <div class="uk-position-top-right uk-position-small
                                  uk-hidden-hover">
                        <a href="{{ url_for('threads.newcomment',
                           project=t.project.name,
                           thread_id = t.id, parent_lineage=c.lineage,
                                 return_url=url_encode(request.base_url)) }}"
                           class="uk-link-muted">Reply</a>
                        {% if current_user == c.author %}
                          <a href="{{ url_for('threads.editcomment',
                             project=t.project.name, comment_id=c.id,
                                   return_url=url_encode(request.base_url)) }}"
                             class="uk-link-muted">Edit</a>
                        {% endif %}
                        {% if not c.has_replies()
                          and (current_user == c.author
                          or current_user.username == project.owner) %}
                          <a href="{{ url_for('threads.deletecomment',
                                   project=t.project.name,
                                   comment_id=c.id,
                                   return_url=url_encode(request.base_url)) }}"
                                   onclick="return confirm('Are you sure?')"
                             class="uk-link-muted">Delete</a>
                        {% endif %}
                      </div>
                    </header>
                    <div class="uk-comment-body">
                      {{ c.content | safe }}
                    </div>
                    <hr>
                  </article>
                  </li>
                {% endfor %}
              </ul>
              <a href="{{ url_for('threads.newcomment',
                          project=t.project.name, thread_id = t.id,
                          return_url=url_encode(request.base_url)) }}"
                 class="uk-link-muted uk-margin-medium-left">
                <span uk-icon="icon: reply"></span>
                Comment
              </a>
            </article>
          {% endfor %}
        </div>
      {% endif %}

      <!-- Scroll Up -->
      <a href="" class="uk-align-right" uk-scroll>
        <span uk-icon="icon: chevron-up; ratio: 2"></span>
      </a>
    </div>

    <!-- Footer -->
    <nav class="uk-navbar-container" uk-navbar="mode: click">
      <div class="uk-navbar-right uk-padding uk-padding-remove-top
                  uk-padding-remove-bottom">
        <ul class="uk-navbar-nav">
          <li class="uk-active">
            <div class="tm-middle uk-container uk-container-center
                        uk-text-center">
              <ul class="uk-subnav uk-subnav-line uk-flex-center">
                <div class="uk-navbar-item">
                  &copy; {{ copyright }}.
                  {{ _('Created using') }} Sphinx 1.2.3.
                </div>
                </ul>
            </div>
          </li>
        </ul>
      </div>
    </nav>

  </body>
</html>
