{% extends "layout.html" %}

{% block title %}{{_('Project (%(project)s), branch (_%(branch)s)') | format(project=project, branch=branch) }}{% endblock%}

{% macro contents() %}
<h1>{{_('Project (%(project)s), branch (_%(branch)s)') | format(project=project, branch=branch) }}</h1>
<ul id="navigation">

  <br>

  <a href="{{ url_for('.view', project=project, branch=branch, filename='index.html') }}">{{ _('Visit branch') }}</a>

  <br>

  <a href="{{ url_for('.newfile', project=project, branch=branch) }}">{{ _('Create a new file') }}</a>

  <br>

  <h2>{{ _('Last commits in _%s:') % branch }}

    <pre><code><font size="1">{{ log }}</font></code></pre>

</ul>

{% endmacro %}

