{% extends "layout.html" %}

{% block title %}{{ text['title'] }}{% endblock%}

{% macro contents() %}
<h1>{{ text['title'] }}</h1>
<ul id="navigation">

  <form action="{{ url_for('.clone', project=project, branch=branch) }}" method="POST">

    {{ text['name'] }}

    <br>

    <input type="text" id="name" name="name"
           pattern="([a-zA-Z0-9]|-|_|.){4,30}$"
           title="{{ text['allowed'] }}">
    <input id="submit" name="submit" type="submit"
           formaction="{{ url_for('.clone', project=project, branch=branch) }}"
           value="{{ text['submit'] }}">

  </form>

</ul>

{% endmacro %}

