{% extends "base_template.html" %}

{% from "_formhelpers.html" import render_field %}

{% block title %}{{ _('Commit your changes') }}{% endblock%}

{% macro contents() %}
  <div class="uk-margin-large-left uk-card uk-card-default uk-card-body">
    <form method="POST">
      <fieldset class="uk-fieldset">
        <legend class="uk-legend">{{ _('Commit your changes') }}</legend>
        <div class="uk-margin">
          {{ render_field(form.message, size=50) }}
        </div>
        <div class="uk-margin">
          <button class="uk-button uk-button-primary">Submit</button>
        </div>
    </form>
  </div>


  <h2>{{ _('Changes that you are committing now') }}</h2>

  <div class="code highlight-default">
    <div class="highlight">
      <pre><span class="n" style="font-size:small">{{ diff }}</span></pre>
    </div>
  </div>



</ul>
{% endmacro %}

