{% extends "layout.html" %}

{% from "_formhelpers.html" import render_field %}

{% block title %}{{ _('Commit your changes') }}{% endblock%}

{% macro contents() %}
<h1>{{ _('Commit your changes') }}</h1>

<ul id="navigation">

  {{ _('Choose your commit message') }}
  <form method="POST">
    {{ render_field(form.message, size="50") }}
    <br>
    <input type=submit value=Register>
  </form>

<h2>{{ _('Changes that you are committing now') }}</h2>

  <div class="code highlight-default">
    <div class="highlight">
      <pre><span class="n" style="font-size:small">{{ diff }}</span></pre>
    </div>
  </div>



</ul>
{% endmacro %}

