{% extends "layout.html" %}

{% block title %}{{ branch }} {{ text['title'] }} {{ filename }}{% endblock%}

{% block scripts %}
<style>
span.diff_sub {
  background-color: #1abc9c;
  color: white;
}

td {
word-break: break-all;
max-width: 500px;
font-family: "Courier";
}

span.diff_add {
  background-color: #ea9b92;
  color: white;
}

div.bodywrapper {
margin: 0 0 0 20px;
}
</style>
{% endblock %}

{% macro contents() %}
<h1>@{{ branch }} {{ text['title'] }} {{ filename }}</h1>

<p>
  {{ text['instructions'] }}
</p>

<br>

{{ diff | safe }}

<br>

<div style="text-align: right;">
<a href="/{{ project }}/{{ branch }}/merge/{{ other }}">Cancel</a>
<a href="/{{ project }}/{{ branch }}/accept/{{ filename }}">Accept</a>
</div>

{% endmacro %}

