{% extends "layout.html" %}

{% block title %}{{ _('_%(branch)s has suggested a change to the file: %(filename)s') | format(branch=branch, filename=filename) }}{% endblock%}

{% block scripts %}
<style>
span.diff_sub {
  background-color: #1abc9c;
  color: white;
}

td {
word-break: break-all;
max-width: 500px;
font-family: "Courier";
}

span.diff_add {
  background-color: #ea9b92;
  color: white;
}

div.bodywrapper {
margin: 0 0 0 20px;
}
</style>
{% endblock %}

{% macro contents() %}
<h1>{{ _('_%(branch)s has suggested a change to the file: %(filename)s') | format(branch=branch, filename=filename) }}</h1>

<p>
  {{ _('The proposed (left), old (right).') }}
</p>

<br>

{{ diff | safe }}

<br>

<div style="text-align: right;">
<a href="{{ url_for('.merge', project=project, branch=branch, other=other) }}">Cancel</a>
<a href="{{ url_for('.accept', project=project, branch=branch, filename=filename) }}">Accept</a>
</div>

{% endmacro %}

