{% extends "layout.html" %}

{% block title %}{{ _('Edit: %(filename)s') | format(filename=filename) }} {% endblock%}

{% block scripts %}
<link rel="stylesheet" href="https://codemirror.net/lib/codemirror.css">
<script src="https://codemirror.net/lib/codemirror.js"></script>
<script src="https://codemirror.net/addon/mode/overlay.js"></script>
<script type="text/javascript" src="https://codemirror.net/mode/rst/rst.js"></script>
<script type="text/javascript" src="/_static/jquery.are-you-sure.js"></script>

<link rel="stylesheet" href="https://codemirror.net/addon/dialog/dialog.css">
<link rel="stylesheet" href="https://codemirror.net/addon/search/matchesonscrollbar.css">

<script src="https://codemirror.net/mode/xml/xml.js"></script>
<script src="https://codemirror.net/addon/dialog/dialog.js"></script>
<script src="https://codemirror.net/addon/search/searchcursor.js"></script>
<script src="https://codemirror.net/addon/search/search.js"></script>
<script src="https://codemirror.net/addon/scroll/annotatescrollbar.js"></script>
<script src="https://codemirror.net/addon/search/matchesonscrollbar.js"></script>
<script src="https://codemirror.net/addon/search/jump-to-line.js"></script>

<script>
  var is_changed = 0;

  // inserts text around the cursor or selection
  function insertAround(start, end) {
    var doc = editor;
    var cursor = doc.getCursor();

    if (doc.somethingSelected()) {
      var selection = doc.getSelection();
      doc.replaceSelection(start + selection + end);
    } else {
      // If no selection then insert start and end args and set cursor position between the two.
      doc.replaceRange(start + end, { line: cursor.line, ch: cursor.ch });
      doc.setCursor({ line: cursor.line, ch: cursor.ch + start.length });
    }
    editor.focus();
  }

  function save() {
    is_changed = 0;
    var height = document.getElementById("html_view").scrollTop;
    document.getElementById("html_scroll").value = height;
    var info = editor.getScrollInfo();
    document.getElementById("edit_scroll").value = info.top;
    document.getElementById("myform").submit();
  }

  function scrollWin() {
    document.getElementById("html_view").scrollTo(0, {{ html_scroll }});
    editor.scrollTo(0, {{ edit_scroll }});
  }

  window.onload = scrollWin;


  //$('#form').data('serialize',$('#form').serialize()); // On load save form current state

  $(window).bind('beforeunload', function(e){
    if (is_changed == 1) return true;
    else e=null; // i.e; if form state change show warning box, else don't show it.
  });

  //$(function() {
  //  $('form').areYouSure();
  //});
</script>


<style>
.flex-container {
    display: -webkit-flex;
    display: flex;
    width: auto;
    height: 90vh;
    background-color: #7799CC;
}

.CodeMirror {
    border: 1px solid #eee;
    height: 65vh;
}

.flex-item, .flex-item-rigid {
    width: 50%;
    height: auto;
    margin: 10px;
}
.flex-item {
    overflow: scroll;
}
button
{
    margin: -1px;
    padding: 0px;
}
div.bodywrapper {
    margin: 0 0 0 0px;
}
</style>
{% endblock %}

{% macro contents() %}
  <div class="body" role="main">
    <div class="flex-container" align="left">
      <div class="flex-item-rigid">
        <p style="line-height: 200%;">
          <nobr>
            {{ _('sections') }}
            <button onclick="insertAround('\n.. _cap-coloque-aqui-o-nome:\n\n********\nCap&#237;tulo\n********','')">Cap</button>
            <button onclick="insertAround('\n.. _sec-coloque-aqui-o-nome:\n\nSe&#231;&#227;o\n=====','')">Sec</button>
            <button onclick="insertAround('\n.. _sub-coloque-aqui-o-nome:\n\nSubse&#231;&#227;o\n---------','')">Sub</button>
          </nobr>
          <nobr>
            {{ _('style') }}
            <button onclick="insertAround('**','**')"
                    title="{{ _('Bold') }}"><b>B</b></button>
            <button onclick="insertAround('*','*')" style="font-family:verdana;"
                    title="{{ _('Italic') }}"><i>I</i></button>
            <button onclick="insertAround('\n* a\n* b','')"
                    title="{{ _('Itemize') }}">&#x2D57</button>
            <button onclick="insertAround('\na) foo\nb) bar','')"
                    title="{{ _('Enumerate') }}">a)</button>
          </nobr>
          <nobr>
            {{ _('boxes') }}
            <button onclick="insertAround('\n.. admonition:: Para o professor\n\n   texto','')"
                    title="{{ _('Para o professor') }}">Pr</button>
            <button onclick="insertAround('\n.. admonition:: Resposta \n\n   texto','')"
                    title="{{ _('Resposta') }}">Re</button>
            <button onclick="insertAround('\n.. admonition:: Definição \n\n   texto','')"
                    title="{{ _('Definição') }}">Def</button>
            <button onclick="insertAround('\n.. admonition:: Teorema \n\n   texto','')"
                    title="{{ _('Teorema') }}">Teo</button>
            <button onclick="insertAround('\n.. admonition:: Exemplo \n\n   texto','')"
                    title="{{ _('Exemplo') }}">Ex</button>
            <button onclick="insertAround('\n.. _ativ-titulo-da-atividade:\n\nAtividade: título da atividade\n------------------------------\n\n','')"
                    title="{{ _('Atividade') }}">At</button>
          </nobr>
          <nobr>
            {{ _('image') }}
            <button onclick="insertAround('\n.. _fig-coloque-aqui-o-nome:\n\n.. figure:: <link da figura>\n   :width: 200px\n   :align: center\n\n   legenda', '')"
                    title="{{ _('figure') }}">
              : <font size="1">&#x263a</font>
            </button>
            {#
            <button onclick="insertAround('\n.. figure:: ../images/','<nome-da-figura>\n\n    legenda')">
              &#x263a
            </button>
            #}
            <button onclick="insertAround('.. table:: Legenda\n   :widths: 1 3\n   :column-alignment: left center\n\n   +---+---+\n   | A | B |\n   +===+===+\n   | 0 | 1 |\n   +---+---+\n   | 2 | 3 |\n   +---+---+\n','')"
                    title="{{ _('Table') }}">
              &#x25EB
            </button>
            <button onclick="insertAround('\n.. tikz:: legenda\n\n   \\draw (0,0)--(1,0)--(.5,.6)--(0,0);','')"
                    title="{{ _('Tikz figure') }}">
              &#x25B3
            </button>
          </nobr>
          <nobr>
            {{ _('ref') }}
            <button onclick="insertAround(':ref:`nome-da-referencia`', '')"
                    title="{{ _('ref') }}">!
            </button>
          </nobr>
          <nobr>
            Eq.:
            <button onclick="insertAround('`a = b`','')"
                    title="{{ _('Inline math') }}">: &#x1D4CD</button>
            <button onclick="insertAround('\n.. math::\n\n   a^2 = b','')"
                    title="{{ _('Displayed equation') }}">&#x1D4E7</button>
          </nobr>
          <nobr>
            {{ _('math') }}:
            <button onclick="insertAround('\\frac{1}{2}','')">&#xBD</button>
            <button onclick="insertAround('\\sin(',')')">sin</button>
            <button onclick="insertAround('\\cos(',')')">cos</button>
            <button onclick="insertAround('\\neq','')">&#x2260</button>
            <button onclick="insertAround('\\cap','')">&#x2229</button>
            <button onclick="insertAround('\\cup','')">&#x222A</button>
            <button onclick="insertAround('\\mathbb{R}','')">&#x211D</button>
            <button onclick="insertAround('\\mathbb{Q}','')">&#x211A</button>
            <button onclick="insertAround('\\mathbb{Z}','')">&#x2124</button>
            <button onclick="insertAround('\\mathbb{N}','')">&#x2115</button>
            <button onclick="insertAround('\\in','')">&#x2208</button>
            <button onclick="insertAround('\\subset','')">&#x2282</button>
            <button onclick="insertAround('\\overrightarrow{','}')">x&#8407</button>
          </nobr>
        <form id="myform" action="{{ url_for('.edit', project=project, branch=branch,
                                  filename=filename) }}" method="post">
          <textarea id="code" name="code">{{ rst }}</textarea>
          <br>
          <a href="{{ url_for('.view', project=project,
                   branch=branch, filename=filename) }}" style="text-decoration:none">
            <input type="button" value="exit"/>
          </a>
          <input id="preview" name="preview" type="button" value="save" onClick="save()" />

          <input type="hidden" name="html_scroll" id="html_scroll" value="{{ html_scroll }}" />
          <input type="hidden" name="edit_scroll" id="edit_scroll" value="{{ edit_scroll }}" />

        </form>
      </div>

      <script>
        var editor = CodeMirror.fromTextArea(document.getElementById("code"), {
          extraKeys: {"Alt-F": "findPersistent"},
          extraKeys: {"Ctrl-F": "findPersistent"},
          lineNumbers: false,
          lineWrapping: true,
        });

        editor.on("change", function(){ is_changed = 1; }  );
      </script>

      <div id="html_view" class="flex-item" onload="document.getElementById('html_view').scrollTop = 200;">
        {{ doc | safe }}
      </div>
    </div>
  </div>
{% endmacro %}

