{% extends "base_template.html" %}

{% block title %}{{ _('Projects list') }}{% endblock%}

{% macro contents() %}
<h1>{{ _('Projects list') }}</h1>

<p>
  {{ _('Here you can see all the projects...') }}
</p>

<div class="uk-flex uk-flex-wrap uk-grid-small uk-flex-center uk-text-center" uk-grid>

{% for project in projects %}

  <div class="uk-card uk-card-default uk-width-medium uk-card-body">
    <h3 class="uk-card-title">{{ project }}</h3>
      <a href="{{ url_for('projects.dashboard', project=project) }}"
         class="uk-button uk-button-link">Visit</a>
      &nbsp &nbsp
      <a href="{{ url_for('branches.pdf', project=project,
               branch='master') }}"
         class="uk-button uk-button-link">pdf</a>
  </div>
{% endfor %}
</div>


<hr class="uk-divider-icon">

<a class="uk-button uk-button-primary"
   href="{{ url_for('bookcloud.new') }}">{{ _('Create new project') }}</a>

{% endmacro %}

