{% extends "layout.html" %}

{% block title %}{{ _('Projects list') }}{% endblock%}


{% macro contents() %}
<h1>{{ _('Projects list') }}</h1>
<ul id="navigation">

  <p>
    {{ _('Here you can see all the projects...') }}
  </p>

  {% for project in projects %}
  <li>
    <a href="{{ url_for('.project', project=project) }}">{{ project }}</a>
    - <a href="{{ url_for('.pdf', project=project, branch='master') }}">pdf</a>
  </li>
  {% endfor %}
</ul>

<p>
  <a href="{{ url_for('.new') }}">{{ _('Create new project') }}</a>
</p>
{% endmacro %}

