{% macro flash() %}
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
<ui class="flashes">
  {% for category, message in messages %}
  <li class="{{ category }}">{{ message }}</li>
  {% endfor %}
</ui>
{% endif %}
{% endwith %}
{% endmacro %}

{% if barebones %}

<div class="document">
  <div class="body" role="main">
    {{ flash() | safe }}
    {{ contents() | safe }}
  </div>
  <div class="clearer"></div>
</div>

{% else %}

<!doctype html>

<html xmlns="http://www.w3.org/1999/xhtml">

  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="{{ url_for('get_global_static', filename='bizstyle.css') }}" type="text/css" />
    <!--<link rel="stylesheet" href="/_static/basic.css" type="text/css" />
    <link rel="stylesheet" href="/_static/pygments.css" type="text/css" />-->

    <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>

    <script type="text/javascript">
      var DOCUMENTATION_OPTIONS = {
      URL_ROOT:    './',
      VERSION:     '',
      COLLAPSE_INDEX: false,
      FILE_SUFFIX: '.html',
      HAS_SOURCE:  true
      };
    </script>
    <!--
    <script type="text/javascript" src="_static/jquery.js"></script>
    <script type="text/javascript" src="_static/underscore.js"></script>
    <script type="text/javascript" src="_static/doctools.js"></script>
    -->
    <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
    <link rel="top" title="Livro Aberto de Matematica" href="#" />

    {% block scripts %}{% endblock %}

    <style>
      .info {
        padding: 20px;
        background-color: #1abc9c;
        color: white;
        margin-bottom: 15px;
      }

      .error {
        padding: 20px;
        background-color: #ea9b92;
        color: white;
        margin-bottom: 15px;
      }
</style>

  </head>

  <body role="document">

    <div class="related" role="navigation" aria-label="related navigation">
      <h3>Navigation</h3>
      {% block bar %}
      <ul>
        <li class="left" style="margin-right: 10px">
          <a href="{{ url_for('projects') }}">home</a>
        </li>
        {% for t in bar_menu %}
        <li class="right" style="margin-right: 10px">
          <a href="{{ t.url }}">{{ t.name }}</a>
        </li>
        {% endfor %}
      </ul>
      {% endblock %}
    </div>

    {% block sidebar %}{% endblock %}

    <div class="document">
      <div class="documentwrapper">
        <div class="bodywrapper">
          <div class="body" role="main">
            {{ flash() | safe }}
            {{ contents() | safe }}
          </div>
        </div>
      </div>
      <div class="clearer"></div>
    </div>

    <div class="related" role="navigation" aria-label="related navigation">
      <h3>Navigation</h3>
      {{ self.bar() | safe }}
    </div>

    <div class="footer" role="contentinfo">
      &copy; {{ copyright }}.
      Created using <a href="http://sphinx-doc.org/">Sphinx</a> 1.2.3.
    </div>
  </body>
</html>
{% endif %}
