{% extends "base_template.html" %}

{% from "_diff.html" import display_file_diff,file_diff_style with context%}

{% block title %}{{ _('Merging %s') % branch.name }}{% endblock%}

{% block scripts %}
<style>
  {{ file_diff_style() }}
</style>
{% endblock %}

{% macro contents() %}
<h1>{{ _('Merging ') }}</h1>

<h2>{{ _('Contributions by ') }} <a>{{ other }}</a></h2>

<p>{{ _('owned by %s') % branch.owner.username }}


{{ display_file_diff(repo, old_commit, new_commit) }}

{% if modified %}
<h2>{{ _('Modifications to be reviewed') }}</h2>

<div class="uk-child-width-1-1@m uk-grid-small uk-grid-match" uk-grid>
  {% for f in modified %}
  <div>
    <div class="uk-card uk-card-default uk-card-body">
      <h3 class="uk-card-title">{{ f }}</h3>
      <a class="uk-button uk-button-small uk-button-primary"
         href="{{ url_for('branches.review', project=project.name,
               branch=branch.name, filename=f) }}">
        {{ _('Review file') }}
      </a>
      <a class="uk-button uk-button-small uk-button-primary"
         href="{{ url_for('branches.accept', project=project.name,
               branch=branch.name, filename=f) }}">
        {{ _('Accept suggestions') }}
      </a>
    </div>
  </div>
  {% endfor %}
</div>
{% endif %}

{% if reviewed %}
  <h2>{{ _('Changes reviewed') }}</h2>
  <ul id="navigation">
    {% for f in reviewed %}
    <li>
      <a href="{{ url_for('branches.review', project=project.name,
                          branch=branch.name, filename=f) }}">
        {{ f }}
      </a>
    </li>
    {% endfor %}
  </ul>
{% endif %}

{% if not modified %}
  <p>
    {{ _('You have finished merging _%s') % other }}
  </p>
  <a class="uk-button uk-button-primary"
     href="{{ url_for('branches.finish', project=project.name,
                      branch=branch.name) }}">
    {{ _('Finish merge') }}
  </a>
{% endif %}

{% endmacro %}

