{% extends "layout.html" %}

{% block title %}{{ text['title'] }}{{ branch }}{% endblock%}

{% macro contents() %}
<h1>{{ text['title'] }}{{ other }}</h1>

{% if modified %}
<h2>{{ text['unseen'] }}</h2>
<ul id="navigation">
  {% for f in modified %}
  <li>
    {{ f }}
    <ul>
      <li><a href="{{ url_for('review', project=project, branch=branch, filename=f) }}">{{ text['review'] }}</a></li>
      <li><a href="{{ url_for('diff', project=project, branch=branch, filename=f) }}">{{ text['view'] }}</a></li>
      <li><a href="{{ url_for('accept', project=project, branch=branch, filename=f) }}">{{ text['accept'] }}</a></li>
      </li>
    </ul>
  </li>
  {% endfor %}
</ul>
{% endif %}

{% if reviewed %}
<h2>{{ text['reviewed'] }}</h2>
<ul id="navigation">
  {% for f in reviewed %}
  <li>
    <a href="{{ url_for('review', project=project, branch=branch, filename=f) }}">{{ f }}</a>
  </li>
  {% endfor %}
</ul>
{% endif %}

{% if not modified %}
<h2>{{ text['finally'] }}</h2>
<a href="{{ url_for('finish', project=project, branch=branch) }}">{{ text['finish'] }}</a>
{% endif %}

{% endmacro %}

