{% extends "base_template.html" %}

{% from "_formhelpers.html" import render_field %}

{% block title %}{{ _('Create new project') }}{% endblock%}

{% macro contents() %}
  <div class="uk-margin-large-left uk-card uk-card-default uk-card-body">
    <form method="POST">
      <fieldset class="uk-fieldset">
        <legend class="uk-legend">{{ _('Create new project') }}</legend>
        <div class="uk-margin">
          {{ render_field(form.name) }}
        </div>
        <div class="uk-margin">
          <button class="uk-button uk-button-default">Submit</button>
        </div>
    </form>
  </div>


{% endmacro %}

