{% extends "layout.html" %}

{% block title %}{{ text['title'] }}{% endblock%}

{% macro contents() %}
<h1>{{ text['title'] }}</h1>

<p>
  <form method="post">

    <input type="text" id="filename" name="filename"
           pattern="([a-zA-Z0-9]|-|_|.){4,30}$"
           title="{{ text['allowed'] }}">
    <input id="submit" name="submit" type="submit"
           formaction="{{ url_for('.newfile', project=project, branch=branch) }}"
           value="{{ text['submit'] }}">

  </form>
</p>
{% endmacro %}

