{% extends "layout.html" %}

{% block title %}{{ text['title'] }}{% endblock%}

{% macro contents() %}

  <p>
    {{ text['instructions'] }}
  </p>

  <h1>{{ text['title'] }}</h1>
  <ul id="navigation">

  <p>
    The main branch is:
    <a href="{{ url_for('.view', project=project, branch='master',
             filename='index.html') }}">master</a>,
             owned by ({{ tree[0]['branch'].owner.username }})
             {% if is_dirty(project, 'master') %}
             (modified)
             {% endif %}
             {% if has_requests(project, 'master') %}
             (has requests)
             {% endif %}
             - {{ text['download'] }} <a href="{{ url_for('.pdf', project=project,
             branch='master') }}">pdf</a>
  </p>

  {% if tree[0].subtree != [] %}
    <p>
      These are the sub-branches:
    </p>

    <ul>
      {% for item in tree[0].subtree recursive %}
        <li>
          <a href="{{ url_for('.view', project=project, branch=item['branch'].name,
                   filename='index.html') }}">{{ item['branch'].name }}</a>,
          owned by ({{ item['branch'].owner.username }})
          {% if is_dirty(project, item['branch'].name) %}
          (modified)
          {% endif %}
          {% if has_requests(project, item['branch'].name) %}
          (has requests)
          {% endif %}
          - {{ text['download'] }}
          <a href="{{ url_for('.pdf', project=project,
          branch=item['branch'].name) }}">pdf</a>

          {% if item['subtree'] != [] %}
            <ul>
              {{ loop(item['subtree']) }}
            </ul>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  {% else %}
    It has no sub-branches.
  {% endif %}

</ul>
{% endmacro %}

