{% extends "layout.html" %}

{% block title %}{{ text['title'] }}{% endblock%}



{% macro contents() %}
<h1>{{ text['title'] }}</h1>
<ul id="navigation">

  <p>
    {{ text['instructions'] }}
  </p>

  {% for p in projects %}
  <li>
    <a href="{{ url_for('.branches', project=p) }}">{{ p }}</a>
    - {{ text['download'] }} <a href="{{ url_for('.pdf', project=p, branch='master') }}">pdf</a>
  </li>
  {% endfor %}
</ul>

<p>
  <a href="{{ url_for('.new') }}">{{ text['new'] }}</a>
</p>
{% endmacro %}

