{% extends "layout.html" %}

{% block title %}{{ _('List of branches') }}{% endblock%}

{% macro contents() %}

  <h1>{{ _('List of branches') }}</h1>

  <p>
    {{ _('Here you can see the project: %(project)s...') | format(project=project) }}
  </p>

    <p>
      <a href="{{ url_for('.view', project=project, branch='master',
               filename='index.html') }}">master</a>,
               (by @{{ tree[0]['branch'].owner.username }})
               {% if is_dirty(project, 'master') %}
                 <b>(modified {{ last_modified(project, 'master') }})</b>
               {% endif %}
               {% if has_requests(project, 'master') %}
                 <b>(has requests)</b>
               {% endif %}
               - <a href="{{ url_for('.pdf', project=project,
               branch='master') }}">pdf</a>
    </p>

    {% if tree[0].subtree != [] %}
      <p>
        Sub-branches:
      </p>

      <ul>
        {% for item in tree[0].subtree recursive %}
          <li>
            <a href="{{ url_for('.view', project=project, branch=item['branch'].name,
                     filename='index.html') }}">{{ item['branch'].name }}</a>,
                     (by @{{ item['branch'].owner.username }})
                     {% if is_dirty(project, item['branch'].name) %}
                       <b>(modified {{ last_modified(project, item['branch'].name) }})</b>
                       {% if current_user.username == project_owner %}
                         - <a href="{{ url_for('.commit', project=project,
                                               branch=item['branch'].name) }}">
                             commit
                           </a>
                     {% endif %}

                     {% endif %}
                     {% if has_requests(project, item['branch'].name) %}
                       <b>(has requests)</b>
                     {% endif %}
                     - <a href="{{ url_for('.pdf', project=project,
                     branch=item['branch'].name) }}">pdf</a>
                     {% if item['branch'].expires %}
                       expires ({{ item['branch'].expiration }})
                     {% endif %}
                     {% if item['subtree'] != [] %}
                       <ul>
                         {{ loop(item['subtree']) }}
                       </ul>
                     {% endif %}
          </li>
        {% endfor %}
      </ul>
    {% else %}
      It has no sub-branches.
    {% endif %}

    <h1>{{ _('Files in this project') }}</h1>

    <table>
      {% for file in files %}
        <tr>
          <td>
            {{ file [0] }}
          </td>
          <td width="200px" style="border: 2px solid silver;padding:none">
            <hr style="color:#00c;background-color:#00c;height:15px; border:none;margin:0;" align="left" width={{ file[2] }}% />
          </td>
          <td>
            <a href="{{ url_for('.view', project=project, branch='master', filename=file[0]) }}.html">view</a>
            {% if current_user.username == project_owner %}
              , <a href="{{ url_for('.renamefile', project=project, oldfilename=file[0]) }}">rename</a>
              , <a href="{{ url_for('.deletefile', project=project, filename=file[0]) }}">delete</a>
            {% endif %}
          <\td>
        </tr>
      {% endfor %}
    </table>


    <h1>{{ _('Last commits in _master:') }}</h1>

    <div class="code highlight-default">
      <div class="highlight">
        <pre><span class="n" style="font-size:small">{{ log }}</span></pre>
      </div>
    </div>

  </ul>
{% endmacro %}

