{% extends "base_template.html" %}

{% from "_formhelpers.html" import render_field %}

{% block title %}{{ _('Rename file: %s') % (old_name) }}{% endblock%}

{% macro contents() %}
  <div class="uk-margin-large-left uk-card uk-card-default uk-card-body">
    <form method="POST">
      <fieldset class="uk-fieldset">
        <legend class="uk-legend">
          {{ _('Rename file: %s') % (old_name) }}
        </legend>
        <div class="uk-margin">
          {{ render_field(form.name) }}
        </div>
        <div class="uk-margin">
          <button class="uk-button uk-button-primary">Submit</button>
        </div>
    </form>
  </div>
{% endmacro %}

