{% extends "base_template.html" %}

{% block title %}{{ _('Edit: %(filename)s') | format(filename=filename) }} {% endblock%}

{% block scripts %}

{% assets "codemirror_css_all" %}
  <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}"></script>
{% endassets %}

{% assets "codemirror_js_all" %}
  <script type="text/javascript" src="{{ ASSET_URL }}"
          charset="utf-8"></script>
{% endassets %}

<script>
  var value, orig1, orig2, dv, panes = 2, highlight = true, connect = null,
      collapse = false;
  function initUI() {
    if (value == null) return;
    var target = document.getElementById("view");
    target.innerHTML = "";
    dv = CodeMirror.MergeView(target, {
      value: value,
      origLeft: orig1,
      lineNumbers: true,
      lineWrapping: true,
      highlightDifferences: highlight,
      connect: connect,
      collapseIdentical: collapse
    });
  }

  function toggleDifferences() {
    dv.setShowDifferences(highlight = !highlight);
  }

  window.onload = function() {
    value = document.getElementById("new_file").value;
    orig1 = document.getElementById("old_file").value;
    initUI();
  };

  function mergeViewHeight(mergeView) {
    function editorHeight(editor) {
      if (!editor) return 0;
      return editor.getScrollInfo().height;
    }
    return Math.max(editorHeight(mergeView.leftOriginal()),
                    editorHeight(mergeView.editor()),
                    editorHeight(mergeView.rightOriginal()));
  }

  function resize(mergeView) {
    var height = mergeViewHeight(mergeView);
    for(;;) {
      if (mergeView.leftOriginal())
        mergeView.leftOriginal().setSize(null, height);
      mergeView.editor().setSize(null, height);
      if (mergeView.rightOriginal())
        mergeView.rightOriginal().setSize(null, height);

      var newHeight = mergeViewHeight(mergeView);
      if (newHeight >= height) break;
      else height = newHeight;
    }
    mergeView.wrap.style.height = height + "px";
  }

  function sendIt() {
      //var dv = $('.CodeMirror')[0].CodeMirror;
      document.myform.hidden.value = dv.editor().getValue();
      document.getElementById("myform").submit();
  }
</script>

<style>
.CodeMirror-merge, .CodeMirror-merge .CodeMirror {
  height: calc(100vh - 100px);
}

.CodeMirror { line-height: 1.2; }
@media screen and (min-width: 1300px) {
  article { max-width: 1000px; }
  #nav { border-right: 499px solid transparent; }
}

span.clicky {
    cursor: pointer;
    background: #d70;
    color: white;
    padding: 0 3px;
    border-radius: 3px;
}

div.bodywrapper {
    margin: 0 0 0 0px;
}
</style>

{% endblock %}

{% macro contents() %}{% endmacro %}

{% block document %}

<html xmlns="http://www.w3.org/1999/xhtml">

{{ head() }}

<div style="height: 20px; overflow:hidden;">
      <div id="modal-container" class="uk-modal-container" uk-modal>
        <div class="uk-modal-dialog uk-modal-body">
          <button class="uk-modal-close-default" type="button" uk-close>
          </button>
          {{ flash_messages() }}
        </div>
      </div>
</div>

{{ flash_messages() }}

{# Placeholders for text #}
<textarea id="new_file" style="display:none">{{ new }}</textarea>
<textarea id="old_file" style="display:none">{{ old }}</textarea>

<div style="overflow:hidden;">

  <form method="post" id="myform" name="myform"
        action="{{ url_for('branches.commit', project=project.name,
                           branch=branch.name, filename=filename) }}">
    <div id="view" name="view">
    </div>
    <input type="hidden" id="hidden" name="code"/>
    <div align="right" class="uk-padding-small">
      <button class="uk-button uk-button-default"
         href="{{ url_for('branches.merge', project=project.name,
                          branch=branch.name, other=other) }}">
         {{ _('Exit') }}
        {#<input type="button" value="exit"/>#}
      </button>
      <button class="uk-button uk-button-default"
              id="save" name="save" type="submit"
              formaction="{{ url_for('branches.review',
                                     project=project.name, branch=branch.name,
                                     filename=filename) }}"
              onclick="sendIt()">
              {{ _('aceitar texto da direita!') }}
      </button>
    </div>
  </form>

  <script>
    var editor = CodeMirror.fromTextArea(document.getElementById("code"), {
      lineNumbers: false,
      lineWrapping: true,
    });
  </script>

</div>


</html>

{% endblock%}
