{% extends "base_template.html" %}

{% from "_formhelpers.html" import render_field %}

{% block title %}{{ _('List of comments') }}{% endblock%}

{% macro contents() %}

  <h1>{{ project }}</h1>

  {{ description | safe }}

  <p>
    {% if form %}
      <form method="POST">
        {{ render_field(form.search) }}
        <br>
        <input type=submit value=Register>
      </form>
    {% endif %}
  </p>

  <p>
    {% if not threads %}
    {{ _('No results found') }}
    {% endif %}
  </p>
  </ul>
{% endmacro %}

