{% extends "base_template.html" %}

{% from "_formhelpers.html" import render_field %}

{% block title %}{{ user.username }} profile{% endblock%}

{% macro contents() %}

<div class="uk-card uk-card-body">
  <form method="POST">
    <fieldset class="uk-fieldset">
      <legend class="uk-legend">{{ _('Update your profile') }}</legend>
      {% for item in profile_form %}
        <div class="uk-margin">
          {% if item['type'] == 'string' %}
            <input class="uk-input" type="text" name="{{ item['variable'] }}"
                   placeholder="{{ item['title'] }}">
          {% endif %}
          {% if item['type'] == 'boolean' %}
            <div class="uk-form-label">{{ item['title'] }}</div>
            <div class="uk-form-controls">
              <label>
                <input class="uk-radio" type="radio" name="{{ item['variable'] }}"
                       value="yes"
                       {%- if getattr(user, item['variable']) == True -%}
                         checked="checked"
                       {%- endif -%}>
                {{ _('yes')}}
              </label>
              <label>
                <input class="uk-radio" type="radio" name="{{ item['variable'] }}" value="no"
                     {%- if getattr(user, item['variable']) == False -%}
                       checked="checked"
                     {%- endif -%}>
                {{ _('no') }}
              </label>
            </div>
          {% endif %}
          {% if item['type'] == 'integer' %}
            <div class="uk-form-label">{{ item['title'] }}</div>
            <div class="uk-form-controls">
              {% for option in item['choices'] %}
                <label>
                  <input class="uk-radio"
                         type="radio" name="{{ item['variable'] }}" value="{{ option }}"
                         {%- if option == item['choices'][getattr(user, item['variable'])] -%}
                           checked="checked"
                         {%- endif -%}>
                  {{ option }}
                </label>
              {% endfor %}
            </div>
          {% endif %}
        </div>
      {% endfor %}
      <button class="uk-button uk-button-default">Submit</button>
    </fieldset>
  </form>
</div>



{% endmacro %}
