{% extends "base_template.html" %}

{% block title %}{{ _('Waiting execution') }}{% endblock%}

{% block scripts %}
  <script>
    $( document ).ready(function() {
      UIkit.modal('#modal-example').show();
    });
  </script>
{% endblock %}

{% macro contents() %}

  <div id="modal-example" uk-modal="esc-close: false; bg-close: false;">
    <div class="uk-modal-dialog uk-modal-body">
      <h2 class="uk-modal-title">Headline</h2>
      <div uk-spinner></div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
  </div>

{% endmacro %}
