{% extends "base_template.html" %}

{% block title %}{{ _('Waiting execution') }}{% endblock%}

{% block scripts %}
  <script>
    $( document ).ready(function() {
    UIkit.modal('#modal-example').show();

    function update_progress(status_url) {
        // send GET request to status URL
        $.getJSON(status_url, function(data) {
            // update UI
            $('#modal-title').text(data['state']);
            //$('#modal-code').append(data['log']);
            if (data['state'] == 'FAILURE') {
                $('#status').text(data['traceback']);
                $('#spinner').remove();
            }
            if (data['state'] == 'SUCCESS') {
                window.location.replace('{{ next_url }}');
            }
            if (data['state'] == 'PROGRESS') {
                $('#status').text(data['status']);
            }
            if (data['state'] != 'FAILURE') {
                // rerun in 2 seconds
                setTimeout(function() {
                    update_progress(status_url);
                }, 2000);
            }
        });
    }

    update_progress("{{ url_for('tasks', task_id=task_id) }}")
    });
  </script>
{% endblock %}

{% macro contents() %}

  <div id="modal-example" uk-modal="esc-close: false; bg-close: false;">
    <div class="uk-modal-dialog uk-modal-body">
      <h2 id="modal-title" class="uk-modal-title">STARTING</h2>
      <div id="spinner" uk-spinner></div>
       {# task_id #}
        <pre><code id="status"></pre></code>
    </div>
  </div>

{% endmacro %}
