{% extends "base_template.html" %}

{% from "_formhelpers.html" import render_field %}

{% block title %}{{ _('New thread') }}{% endblock %}

{% macro contents() %}

  <div class="uk-margin-large-left uk-card uk-card-default uk-card-body">
    <form method="POST">
      <fieldset class="uk-fieldset">
        <legend class="uk-legend">{{ _('New thread') }}</legend>
        <div class="uk-margin">
          {{ render_field(form.title, style="width: 500px;") }}
        </div>
        <div class="uk-margin">
          {{ render_field(form.flag) }}
        </div>
        <div class="uk-margin">
          {{ render_field(form.user_tags) }}
        </div>
        <div class="uk-margin">
          {{ render_field(form.file_tags) }}
        </div>
        <div class="uk-margin">
          {{ render_field(form.custom_tags) }}
        </div>
        <div class="uk-margin">
          {{ render_field(form.free_tags) }}
        </div>
        <div class="uk-margin">
          {{ render_field(form.firstcomment, rows='20', cols='70') }}
        </div>
        <div class="uk-margin">
          <button class="uk-button uk-button-default">Submit</button>
        </div>
    </form>
  </div>

{% endmacro %}
