{% extends "base_template.html" %}

{% from "_formhelpers.html" import render_field %}

{% from "threads/_display_threads.html" import display_threads with context %}

{% block title %}{{ _('List of comments') }}{% endblock%}

{% macro contents() %}
  <div class="uk-margin-large-left uk-card uk-card-default uk-card-body">
    <legend class="uk-legend">
      {{ _('Threads') }}
      <span class="uk-badge">{{ len(threads.all()) }}</span>
    </legend>
    <button id="button-show-form" class="uk-button uk-button-default"
            uk-toggle="target: #toggle-form" type="button">Search</button>
    <form method="GET" id="toggle-form"
          aria-hidden="true" hidden="hidden">
      <fieldset class="uk-fieldset">
        <div class="uk-margin">
          {{ render_field(form.search, style="width: 500px;") }}
        </div>
        <div class="uk-margin">
          {{ render_field(form.unread) }}
        </div>
        <div class="uk-margin">
          {{ render_field(form.user_tags, style="width: 500px;") }}
        </div>
        <div class="uk-margin">
          {{ render_field(form.file_tags, style="width: 500px;") }}
        </div>
        <div class="uk-margin">
          {{ render_field(form.custom_tags, style="width: 500px;") }}
        </div>
        <div class="uk-margin">
          <button class="uk-button uk-button-default">Submit</button>
        </div>
    </form>
  </div>

  {% if threads %}
    {{ display_threads(threads)  }}
  {% endif %}
{% endmacro %}

